<div *ngIf="this.product" class="container mb-2 w-auto">
  <a
    [href]="'/common/view-product/' + this.product._id"
    class="text-decoration-none"
  >
    <div class="card h-100 border-0 rounded-0" style="width: 8rem">
      <img [src]="this.product.image" class="card-img-top" />
      <div class="card-body p-0">
        <h5 class="card-title">{{ this.product.price | currency : "Q" }}</h5>
        <p class="lh-1 text-wrap">
          {{ this.product.description | slice : 0 : 62 }}
        </p>
        <p class="card-text m-0">
          <kbd class="bg-primary">{{ this.product.category }}</kbd>
        </p>
      </div>
    </div>
  </a>
</div>
