<div class="container mb-2 w-auto">
  <div class="card h-100 border-0 rounded-0" style="width: 8rem">
    <img
      src="http://localhost:3000/img/Products/RMA2109-Realme-1200x1200-1-300x300.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body p-0">
      <h5 class="card-title">Q 206.00</h5>
      <p class="lh-1 text-wrap">
        Realme Audifonos Bluetooth T100 TechLife IPX5 Negro
      </p>
      <p class="card-text m-0"><kbd class="bg-primary">Audio</kbd></p>
    </div>
  </div>
</div>
