<div id="image-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img
          src="http://localhost:3000/img/resources/Banners/BANNER-WEB-AMAZON-KINDLE-%20(1).jpg"
          class="d-block rounded w-100"
        />
      </li>
      <li class="splide__slide">
        <img
          src="http://localhost:3000/img/resources/Banners/JBL-Audifonos-DESTACADAS-BANNER-WEB.jpg"
          class="d-block rounded w-100"
        />
      </li>
      <li class="splide__slide">
        <img
          src="http://localhost:3000/img/resources/Banners/POPSIS-TODOS-LOS-SABORES 2.jpg"
          class="d-block rounded w-100"
        />
      </li>
    </ul>
  </div>

  <div class="splide__progress">
    <div class="splide__progress__bar"></div>
  </div>
</div>
