<div class="container w-75 my-4">
  <div class="container text-center">
    <h1>Listado de Usuarios</h1>
  </div>
  <div class="table-responsive">
    <table
      class="table table-striped table-hover table-borderless align-middle"
    >
      <thead class="table-dark text-center">
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Tipo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of users" class="table-light text-center">
          <td>{{ us.username }}</td>
          <td>{{ us.names }}</td>
          <td>{{ us.last_names }}</td>
          <td *ngIf="us.type == 'Parcel'">Paquetería</td>
          <td *ngIf="us.type == 'Admin'">Administrador</td>
          <td>
            <a
              class="btn btn-outline-info btn-sm"
              href="/admin/register-user/{{ us._id }}"
              >Editar</a
            >
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>
