<div id="product-carousel" class="splide border rounded-2">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
      <li class="splide__slide"><app-card-product></app-card-product></li>
    </ul>
  </div>
</div>
