<!-- Modal -->
<div
  *ngIf="order"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Editar Pedido {{ order._id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <label>Fecha de entrega</label>
          <input
            type="date"
            class="form-control"
            (change)="updateDate($event)"
            [value]="transformDate(order.date_delivered)"
            required
          />
        </div>
        <div>
          <label>Estado</label>
          <select
            [value]="order.status"
            (change)="updateStatus($event)"
            class="form-select"
            required
          >
            <option value="pending">En Camino</option>
            <option value="delivered">Entregado</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button (click)="updateOrder()" type="button" class="btn btn-success">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
