<div id="categorys-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/tecnologia.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Tecnología</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/hogar.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Hogar</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/academico.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Académico</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/literatura.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Literatura</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/decoracion.jpg"
            alt="imagen 2"
            class="circle-image"
          />
        </div>
        <p class="category">Decoración</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/otros.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Otros</p>
      </li>
    </ul>
  </div>
</div>
