<div id="categorys-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/CATEGORIA MASCOTAS - PERROS-2-2.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 1</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/CATEGORIA MASCOTAS - PERROS-2-2.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 2</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/CATEGORIA MASCOTAS - PERROS-2-2.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 3</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/CATEGORIA MASCOTAS - PERROS-2-2.jpg"
            alt="imagen 1"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 4</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 2"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 5</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 6</p>
      </li>
      <li class="splide__slide">
        <div class="circle">
          <img
            src="http://localhost:3000/img/resources/Categorys/Electrodomésticos, white.jpg"
            alt="imagen 3"
            class="circle-image"
          />
        </div>
        <p class="category">Categoría 15</p>
      </li>
    </ul>
  </div>
</div>
